// SPDX-License-Identifier: GPL-2.0-or-later OR MIT

/ {
	#address-cells = <1>;
	#size-cells = <1>;

	compatible = "realtek,rtl83xx-soc";

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		frequency = <500000000>;

		cpu@0 {
			compatible = "mips,mips4KEc";
			reg = <0>;
		};
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x8000000>;
	};

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		poe-uart = &uart1;
	};

	cpuintc: cpuintc {
		#address-cells = <0>;
		#interrupt-cells = <1>;
		interrupt-controller;
		compatible = "rtl83xx,icu";
	};

	uart0: uart@b8002000 {
		compatible = "ns16550a";
		reg = <0xb8002000 0x100>;

		clock-frequency = <200000000>;

		interrupt-parent = <&cpuintc>;
		interrupts = <31>;

		reg-io-width = <1>;
		reg-shift = <2>;
		fifo-size = <1>;
		no-loopback-test;

		status = "disabled";
	};

	uart1: uart@b8002100 {
		compatible = "ns16550a";
		reg = <0xb8002100 0x100>;

		clock-frequency = <200000000>;

		interrupt-parent = <&cpuintc>;
		interrupts = <30>;

		reg-io-width = <1>;
		reg-shift = <2>;
		fifo-size = <1>;
		no-loopback-test;

		status = "disabled";
	};

	spiflash: spi@b8001200 {
		compatible = "realtek,rtl83xx-spiflash";
		reg = <0xb8001200 0x100>;

		#address-cells = <1>;
		#size-cells = <0>;

		status = "disabled";
	};
};
